/* FONTS IMPORTS */
@font-face {
    font-family: 'Raleway';
    src: url('../bin/fonts/Raleway-Bold.woff2') format('woff2'),
        url('../bin/fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../bin/fonts/Raleway-Italic.woff2') format('woff2'),
        url('../bin/fonts/Raleway-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../bin/fonts/Raleway-Regular.woff2') format('woff2'),
        url('../bin/fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FFF Tusj';
    src: url('../bin/fonts/FFFTusj-Bold.woff2') format('woff2'),
        url('../bin/fonts/FFFTusj-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* RESETS */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* LAYOUT AND BANNER */
:root {
  font-family: 'Raleway', 'Trebuchet MS', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
}

body {
    width: 100%;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}

.banner {
    background-image: url('../bin/img/rat-vertical.jpg');
    background-size: cover;
    flex: 1;
}

.banner .title-card {
  color: white;
  height: 200px;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: flex-end;
  justify-content: center;
  font-family: 'FFF Tusj';
  font-size: 40px;
}

.banner .title-card img {
  width: 120px;
  height: 120px;
  filter: invert(100%);
}

.content {
    background-color: rgb(232, 240, 243);
    flex: 2;
    justify-content: center;
}

/* CONTENT */
.introduction {
  padding: 0 4rem;
  flex: 0 1 300px;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  padding-bottom: 2rem;
  max-width: 1200px;
}

.introduction > * {
  margin-bottom: 1rem;
  font-size: clamp(1.2rem, 1vw, 1.5rem);
  font-weight: 500;
}

/* form inputs */
.form-container {
  padding: 1.5rem 4rem;
  flex: 0 1 400px;
  background-color: white;
  box-shadow: 0px 3px 7px 1px rgb(0,0,0,0.3);
}

.form-container h2 {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

#form-inputs {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  max-width: 800px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  gap: 1rem;
}

.form-unit {
  flex: 0 1 300px;
}

.form-unit > * {
  display: block;
}

.form-unit label {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #2B2E33;
}

.form-unit input {
  width: 100%;
  border: solid 1px grey;
  border-radius: 5px;
}

.form-unit input:invalid {
  border-color: #b7537d;
}

/* form actions (button and sign-in option) */
.form-actions {
  padding: 0 4rem;
  flex: 0 1 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3rem;
}

.form-actions > * {
  margin-bottom: 1rem;
}

.form-actions button {
  background-color: #CA758A;
  border-style: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  color: white;
  box-shadow: 2px 4px 7px rgb(0,0,0,0.2);
  font-size: 1.1rem;
  font-weight: bold;
}

.form-actions button:hover {
  cursor: pointer;
  background-color: #e091a5;
}

.form-actions a {
  color: #b7537d;
  text-decoration: none;
}

.form-actions a:hover,
.form-actions a:active {
  color: #CA758A;
}

.form-actions p {
  font-size: 1.1rem;
}