/* RESETS */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}


/* LAYOUT AND BANNER */
:root {
  font-family: "Trebuchet MS", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(1rem, 0.75rem+1.5vw, 2rem);
}

body {
    width: 100%;
    display: flex;
    
}

.banner, 
.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.banner {
    background-color: gray;
    flex: 1;
}

.content {
    background-color: lightgray;
    flex: 2;
    display: flex;
    justify-content: center;
}

/* CONTENT */
.content > * {
  padding: 0 3rem;
  flex: 0 1 300px;
}

.introduction {
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  padding-bottom: 3rem;
}

.introduction > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* form */
#form-inputs {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.form-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3rem;
}

.form-actions > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}