/* RESETS */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}


/* LAYOUT AND BANNER */
:root {
  font-family: "Trebuchet MS", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

body {
    width: 100%;
    display: flex;
    
}

.banner, 
.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.banner {
    background-image: url('../bin/rat-vertical.jpg');
    background-size: cover;
    flex: 1;
}

.banner > * {
  flex: 0 1 400px;
}

.banner:first-child {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.content {
    background-color: rgb(232, 240, 243);
    flex: 2;
    justify-content: center;
}

/* CONTENT */
.content > *,
.banner > * {
  padding: 0 4rem;
  flex: 0 1 400px;
}

.introduction {
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  padding-bottom: 2rem;
  max-width: 1200px;
}

.introduction > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: clamp(1.2rem, 1vw, 1.5rem);
  font-weight: 500;
}

/* form inputs */
.form-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: white;
  box-shadow: 0px 3px 7px 1px rgb(0,0,0,0.3);
}

.form-container h2 {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

#form-inputs {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  max-width: 800px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  gap: 1rem;
}

.form-unit {
  flex: 0 1 300px;
}

.form-unit > * {
  display: block;
}

.form-unit label {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: #2B2E33;
}

.form-unit input {
  width: 100%;
}

/* form actions (button and sign-in option) */
.form-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3rem;
}

.form-actions > * {
  margin-bottom: 1rem;
}

.form-actions button {
  background-color: #CA758A;
  border-style: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  color: white;
  box-shadow: 2px 4px 7px rgb(0,0,0,0.2);
  font-size: 1.1rem;
}

.form-actions button:hover {
  cursor: pointer;
  background-color: #e091a5;
}

.form-actions a {
  color: #96516e;
  text-decoration: none;
}

.form-actions a:hover,
.form-actions a:active {
  color: #CA758A;
}

.form-actions p {
  font-size: 1.1rem;
}