/* RESETS */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}


/* LAYOUT */
body {
    width: 100%;
    display: flex;
}

.banner, 
.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.banner {
    background-color: gray;
    flex: 1;
}

.content {
    background-color: lightgray;
    flex: 2;
}


/* CONTENT */
.content div,
.content form {
  padding: 70px;
}

#sign-up-form {
    flex: 2;
}

#sign-up-form {
  background-color: white;
}